@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

body {
  font-family:  "Be Vietnam Pro",Helvetica,Arial,sans-serif;
}
/* Reset default margin dan padding */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
